# github gitignore template
# Byte-compiled / optimized / DLL files
__pycache__/

# Environment
.env

# Distribution / packaging
bin/
lib/

# config files
pyenv.cfg

.DS_Store

# secrets
api_keys/

# conversation logs 
src/logs
logs/
